*{ margin: 0; padding: 0 }
.success{ background:#fff;}

input[type=text],input[type=password],input.css, button.css{
	background: #f5f5f5;
	border: 1px solid #cccccc;
	padding: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	resize: none;
}
input[type=text],input[type=password],input.css:focus{
	background: #ffffff;
	border: 1px solid #3399cc;
	outline: none;
}
input[type=text],input[type=password],input.css:hover {
	border: 1px solid #3399cc;
}


body{
background-color: #fff ;
background: url(../index/background.png);
}



#divContainer{ 
	background-color: #fff ; width: 1024px; margin: auto;height: 1024px auto;
	margin-top: 5px;
	box-shadow: 0 0 10px #666;
	-moz-box-shadow:  0 0 10px #666;
	-webkit-box-shadow:  0 0 10px #666;
	border-radius:10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
		margin-bottom: 5px;
}
#divHeader{
	width: 100%; height: 138px;  background-color:#FFF; margin-bottom: 2px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	
}
#divBanner{
	width: 100%; height: 90px; background-color: #fff; 
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	background: -webkit-linear-gradient(white,  rgba(229,229,229,229)); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(white,  rgba(229,229,229,229)); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(white,  rgba(229,229,229,229)); /* For Firefox 3.6 to 15 */
	background: linear-gradient(white,  rgba(229,229,229,229)); /* Standard syntax */
}
#divLeft{
    float: left; width: 18%; padding: 0; background-color: #fff; min-height: 550px;max-height:none;
}
#divRight{
    float: right; width: 20%; padding: 1px 1px; background-color: #fff; min-height: 550px  ; max-height:none;
}
#divMid{
	margin-left:19%;  width: 78%;  padding: 1px 1px; background-color: #fff ; min-height: 550px ;  max-height:none;
}
#divMid2{
	margin-left:18%;  width: 81% ;  padding: 1px 1px; background-color: #fff ; min-height: 550px ;  max-height:none;
}

.clr{clear: both;}
#divFooter{ 
	width: 100%; height: 50px;  background-color: #fff;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;

}


#divMenu{
	   padding:0 0 0 5px; 
	  margin:0;
	  list-style:none; 
	  height:43px; 
	  background:#fff url(../index/bgmenu.gif);
	  position:relative; 
	  border: none;
	  border-width:0 1px; 
	  border-bottom:1px solid #444;
}
#divMenu ul {
	margin:0 ; 
	padding:0; 
	list-style:none;
	display:table; 
	white-space:nowrap; 
	list-style:none; 
	height:43px;
	position:relative;
	font-size:12px;
}
#divMenu ul li {
	  margin: 0;
	  padding: 0;
	  display: inline; 
}
#divMenu li {
	display:table-cell; 
	margin:0 auto; padding:0;
}
#divMenu li a {
	
	display:block; 
	float:left; 
	height:43px; line-height:43px; 
	color:#fff; text-decoration:none;
	font-family:arial, verdana, sans-serif;
	font-weight:bold; 
	text-align:center; 
	padding:0 0 0 8px; cursor:pointer; }
#divMenuli a:focus {
	  color: #fff;
}
#divMenu li a b {
	float:left; display:block; padding:0 20px 0 12px;
}
#divMenu li a.active {
	color:#fff; background:url(../index/ml.gif) no-repeat;
}
#divMenu li a.active b {
	background:url(../index/mr.gif) no-repeat right top;
}
#divMenu li a:hover {
	color:#fff; background: #000 url(../index/ml.gif)no-repeat;
}
#divMenu li a:hover b {
	background:url(../index/mr.gif) no-repeat right top;
}
#divMenu li a.active:hover {
	color:#fff; background: #000 url(../index/ml.gif) no-repeat; cursor:default;
}
#divMenu li a.active:hover b{
	background:url(../index/mr.gif) no-repeat right top;
}


body{
font-family:arial, verdana, sans-serif;
}

.leftNav{
width: 100%; /*width of menu*/
}

.leftNav .headerbar{
font: bold 14px Arial;
color: #fff;
background: black url(../index/hl.gif) no-repeat center right;
margin-bottom: px; /*bottom spacing between header and rest of content*/
text-transform: uppercase;
padding: 9px 0 10px 10px; /*header text is indented 10px*/
}

.leftNav ul{
list-style-type: none;
margin: 0;
padding: 0;
margin-bottom: 8px; /*bottom spacing between each UL and rest of content*/
border-right: 1px solid #a5a5a5;
border-bottom: 1px solid #a5a5a5;
}

.leftNav ul li{
padding-bottom: 2px; /*bottom spacing between menu items*/
}

.leftNav ul li a b{
color: #4579bf;
background: url(../index/arrowbullet.png) no-repeat center left; /*custom bullet list image*/
margin-left:1px;
display: block;
padding: 10px 0;
padding-left: 19px; /*link text is indented 19px*/
text-decoration: none;
font-weight: bold;
border-bottom: 1px solid #dadada;
font-size: 80%;
}

.leftNav ul li a b:visited{
color: #4579bf;
text-decoration:underline;
}

.leftNav ul li a b:hover{
color: #4579bf;
background-color: #F3F3F3;
}

.rightNav{
width: 100%; /*width of menu*/
}

.rightNav .headerbar{
font: bold 14px Arial;
color: #fff;
background: black url(../index/hr.gif) no-repeat center left;
margin-bottom: 0px; /*bottom spacing between header and rest of content*/
text-transform: uppercase;
padding: 9px 0px 10px 18px; /*header text is indented 10px*/
}




#main_tabs {
    position: relative;
    top: 1px;
    margin-left: 10px;
}
#main_tabs li {
    border: 1px solid #000;
    border-radius:5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background: #ffffff;
    background:-moz-linear-gradient(55% 24% 270deg, #ffffcf, #ffffff 100%);
    padding: 5px;
    float: left;
    margin-right: 4px;
    border-bottom: 0;
    font-family: arial;
    font-size: 11px;
    cursor: pointer;
}

#main_tabs li.active {
    background: #777777;
    color: #fff;
    background:-moz-linear-gradient(55% 24% 270deg, #777777, #ffffff 100%);
}

#main_tabs li.over {
    background: #cccccc;
    color: #000;
    background:-moz-linear-gradient(55% 24% 270deg, #cccccc, #ffffff 100%);
}


div.hide {
    display: none;
}

#output {
    clear: both;
    font-family: arial;
    border: 1px solid #000;
    width: 600px;
    padding: 10px;
}

#mheader{
	background-image: url(../index/lm.jpg);
    background-repeat: no-repeat;
    background-position: top left;
	color: #fff;
    font-size: 12px;
    font-weight: bold;
    font-family:Arial;
    text-transform:uppercase;
	padding:0px;
    height:35px;
    padding-left:20px;
	margin-left:5px;
	margin-right: 5px;
    line-height:35px;
}

#mheader{
width: 97%; /*width of menu*/
margin-left:5px;
padding-left:20px;
}

#mheader span{
    background-image: url(../index/rm.jpg);
    background-repeat:no-repeat;
    background-position: right;
    display:block;
}


#mheader2{
width: 100%; /*width of menu*/
}

#mheader2 ul{
list-style-type: none;
margin: 0;
padding: 0;
margin-bottom: 8px; /*bottom spacing between each UL and rest of content*/
border-right: 1px solid #a5a5a5;
border-bottom: 1px solid #a5a5a5;
border-left: 1px solid #a5a5a5;
text-decoration: none;
margin-left:5px;
}

#mheader2 ul li{
padding-bottom: 2px; /*bottom spacing between menu items*/
text-decoration: none;
border-bottom: 1px solid #dadada;
}

#mheader2 ul li b{
color: #000;
margin-left:1px;
display: block;
padding-left: 21px; /*link text is indented 19px*/
font-weight: normal;
text-decoration: none;
font-size: 80%;
}

#mheader2 ul li a.a{
color: #4579bf;
margin-left:1px;
display: block;
padding: 10px;
padding-left: 19px; /*link text is indented 19px*/
font-weight: bold;
text-decoration: none;
font-size: 90%;
}

#mheader2 ul li a.a :hover{
color: #4579bf;
text-decoration: underline;
}
a{
color: #000;
text-decoration: none;
}

a.button {
	position: relative;
    color: rgba(255,255,255,1);
    text-decoration: none;
    background-color: rgba(219,87,5,1);
    font-family: 'Yanone Kaffeesatz';
    font-weight: 150;
    font-size: 2em;
    display: block;
    padding: 4px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0px 9px 0px rgba(219,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
    -moz-box-shadow: 0px 9px 0px rgba(219,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
    box-shadow: 0px 9px 0px rgba(219,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
    margin: auto;
	width: 80%;
	text-align: center;
	
	-webkit-transition: all .1s ease;
	-moz-transition: all .1s ease;
	-ms-transition: all .1s ease;
	-o-transition: all .1s ease;
	transition: all .1s ease;
}

a.button:active {
    -webkit-box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
    -moz-box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
    box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
    position: relative;
    top: 6px;
}